/* styles.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo-container {
    display: flex;
    align-items: center; /* Alinha os itens verticalmente */
}

.logo img {
    max-width: 100px;
    margin-left: 20px; /* Ajusta a margem à esquerda da logo */
}

.menu-links {
    display: flex;
    align-items: center; /* Alinha os itens verticalmente */
}

.menu-links a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px; /* Reduzi a margem para ficar mais compacto */
}

.menu-links-only {
    margin-top: 2cm; /* Adiciona 2cm de margem acima do menu */
}

.cardapio-container {
    max-width: 600px; /* Defina a largura máxima desejada */
    margin: 0 auto;   /* Centraliza horizontalmente */
    text-align: center; /* Centraliza o conteúdo */
}


h1 {
    margin-bottom: 20px;
}

.produto {
    margin-bottom: 20px;
    position: relative;
}

.produto img {
    max-width: 100%;
    cursor: pointer; /* Adiciona cursor indicando que é clicável */
}

/* Adicione esta seção ao seu arquivo styles.css ou inclua no cabeçalho do HTML */

.detalhes-produto {
    background-color: #e0f2f7; /* Cor de fundo azul claro */
    padding: 10px; /* Espaçamento interno para os detalhes do produto */
    margin-top: 10px; /* Espaçamento superior entre os produtos */
    display: flex; /* Ativa o layout flexível para alinhar os itens */
    align-items: center; /* Alinha os itens verticalmente ao centro */
}

.detalhes-produto img {
    width: 30%;       /* Define a largura desejada em relação ao contêiner */
    height: 100%;     /* Define a altura como 100% para manter a proporção */
    object-fit: cover; /* Garante que a imagem cubra todo o contêiner mantendo a proporção */
    margin-right: 30px; /* Adiciona margem à direita da imagem */
    margin-left: 5px;     /* Adiciona margem esquerda  na imagem */
    margin-top: 10px;    /* Adiciona espaço superior na parte superior da imagem */
    margin-bottom: 10px;
}

.info-lanche {
    flex: 1; /* Ocupa o espaço restante no contêiner flexível */
}


.info-lanche .descricao {
    margin-bottom: 5px; /* Adiciona espaçamento inferior para a descrição */
    text-align: justify; /* Justifica o texto na descrição */
}

.info-lanche p {
    margin-bottom: 5px; /* Adiciona espaçamento inferior para os parágrafos */
    text-align: left; /* Centraliza o texto à esquerda */
}
.info-lanche h2 {
    margin-bottom: 5px; /* Adiciona espaçamento inferior para o título */
    text-align: left; /* Centraliza o texto à esquerda */
}

.info-lanche h3 {
    margin-bottom: 5px; /* Adiciona espaçamento inferior para o título */
    text-align: left; /* Centraliza o texto à esquerda */
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
/* Restante do seu CSS permanece inalterado */
